*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rgba(255, 144, 14, 0.10);
    /* width: 100%; */
    /* height: 100vh; */
    padding: 50px 230px;
    
}
/* nav starts */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.5rem;
}
nav li a {
    text-decoration: none;
    color: black;
}
/* 
.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar ul{
    display: flex;
}

.nav-bar li{
    list-style: none;
    margin-right: 50px;
}
.nav-bar li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 400;
} */

/* nav ends */

/* banner starts */
.banner{
    padding-top: 40px;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.btn{
    padding: 10px 30px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #fff;


}
.banner-img{
    margin-top: 10px;
    width: 100%;
}
/* .banner-container{
    padding: 30px 100px 50px 100px;
    text-align: center;
}
.banner-head{
    font-size: 42px;
    padding-bottom: 10px;
}
.banner-text{
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}
.btn{
    padding: 10px 30px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #fff;

}
.banner-img{
    width: 70%;
    height: 60vh;
    border: 2px solid black;
    margin: auto;
    margin-top: -20px;
}
.banner-img img{
    width: 100%;
    height: 55vh;
} */
/* banner ends */

main{
    width: 70%;
    /* border: 2px solid black; */
    margin: auto;
}

/* quick-list starts */
.quick-list{
    display: flex;
}
.quick-list-img{
    width: 230px;
}
.image-container{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.quick-list-text{
    margin: auto;
    padding-left: 50px;
}
.quick-list-text h1{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
}
 .quick-list-grey{
    color:grey;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}

.quick-list-description{
    color:  #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    padding-bottom: 10px;
}

.features{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
/* quick-list ends */


/* responsive starts */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
       text-align: center;
    }
    nav ul{
        flex-direction: column;
    }
    .banner-description{
        padding-bottom: 10px;
    }
    .banner-title{
        font-size: 2rem;
        color: #FF900E;
    }
   /* header{
    height: 109vh;
   }

    .nav-bar{
        flex-direction: column;
        padding-top: 80px;
        
    }
    .logo{
        padding-bottom: 10px;
    }
    .nav-bar ul{
        flex-direction: column;
        margin-left: 50px;
    }
    .banner-container{
        padding: 80px 0px;
    }
    .banner-head{
        font-size: 25px;
        color: #FF900E;
    }
    .banner-text{
        padding-bottom: 10px;
    }
  
    .banner-img img{
        margin-top: -40px;
        height: 30vh;
        
    } */

    .quick-list{
        flex-direction: column;
    }
    .image-container{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .quick-list-text{
        padding-bottom: 40px;
        margin-left: -70px;
    }
    .quick-list-description{
        width: 300px;
    }


    
}

/* tab or medium device */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        width: 1148px;
    }
    nav{
        flex-direction: column;
    }
   
}