*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rgba(255, 144, 14, 0.10);
    /* width: 100%; */
    /* height: 100vh; */
    padding: 50px 230px;
    
}
/* nav starts */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.5rem;
}
nav li a {
    text-decoration: none;
    color: black;
}


/* nav ends */

/* banner starts */
.banner{
    padding-top: 40px;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.btn{
    padding: 10px 30px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #fff;


}
.banner-img{
    margin-top: 10px;
    width: 100%;
}

/* banner ends */

main{
    width: 70%;
    /* border: 2px solid black; */
    margin: auto;
}



/* quick-list starts */
.quick-list{
    display: flex;
}
.quick-list-img{
    width: 230px;
}
.image-container{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.quick-list-text{
    margin: auto;
    padding-left: 50px;
}
.quick-list-text h1{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
}
 .quick-list-grey{
    color:grey;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}

.quick-list-description{
    color:  #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    padding-bottom: 10px;
}

.features{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
/* quick-list ends */

/* features section starts */
.feature-head{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 468px;
padding-left: 10px;

}
.border{
    display: flex;
    margin-bottom: 10px;
}
.border-left{
    width: 5px;
height: 106px;
background-color: #FF900E;
}
.feature-paragraph{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 500px;
margin-bottom: 20px;
}
.feature-box{
    width: 500px;
    height: 110px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    /* box-shadow: 0 0 4px grey; */
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.features-container{
    display: flex;
    gap: 150px;
}
.features-container img{
    width: 100%;
    height: 80vh;
}
.feature-btn{
    padding: 40px 40px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -70px;
    margin-left: -100px;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 10px;
}

.feature-box-head{
    font-size: 20px;
    margin-bottom: 10px;
    color: #131313;
    font-family: Work Sans;
}

.feature-box-paragraph{
    width: 450px;
    color:  #727272;
font-family: Work Sans;
font-size: 16px;

font-weight: 400;

}

/* facts section starts */
.facts-header{
    color:  #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    margin-top: 90px;
}
.facts-description{
    color:#727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 542px;
}
.box-container{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
}
.box{
    width: 180px;
    height: 180px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.number{
    color:  #424242;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
}
.text{
    color:  #727272;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
.box-item{
    text-align: center;
    margin-top: 30px;
}

/* facts section ends */

/* sponsor section starts */
.sponsor-container{
    text-align: center;
    margin-top: 80px;
}
.sponsor-heading{
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.sponsor-text{
    color:  #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 542px;
    margin: auto;
}
.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    
}

/* sponsor section ends */
/* footer section starts */
footer{
    width: 70%;
    margin: auto;
    background-color: #FFF4E7;
    height: 35px;
    border-radius: 8px;
    color: #424242;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* footer section ends */

/* responsive starts */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
       text-align: center;
    }
    nav ul{
        flex-direction: column;
    }
    .banner-description{
        padding-bottom: 10px;
    }
    .banner-title{
        font-size: 2rem;
        color: #FF900E;
    }
   

    .quick-list{
        flex-direction: column;
    }
    .image-container{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .quick-list-text{
        padding-bottom: 40px;
        margin-left: -70px;
    }
    .quick-list-description{
        width: 300px;
    }
    .facts-header{
        margin-left: -20px;
    }
    .facts-description{
        margin-left: -20px;
        width: 400px;
    }
    .box-container{
        flex-direction: column;
        align-items: center;
    }
    .sponsor-heading{
        color: #FF900E;
        font-size: 30px;
        text-align: center;
    }
    .sponsor-text{
        width: 300px;
        text-align: center;
    }
    .sponsor-img{
        /* flex-direction: column; */
        gap: 15px;
    }
    .sponsor-img img{
       width: 20%;
    }
    .features-container{
        flex-direction: column;
    }
    .border{
        margin-left: -20px;
    }
    .border-left{
        margin-top: 30px;
        height: 120px;
    
    }
    .feature-paragraph{
        width: 300px;
        margin-left: -20px;
    }
    .feature-box{
        margin-left: -20px;
        width: 120%;
        height: 20vh;
        padding-top: 20px;
    }
    .feature-box-paragraph{
        width: 100%;
    }
    .feature-img{
        margin-top: -80px;
    }
    .feature-img img{
        height: 50vh;
    }
    .feature-btn{
        padding: 15px 20px;
        margin-top: -50px;
        margin-left: 50px;

    }
    
   
    footer{
        margin: auto;
    }




    
}

/* tab or medium device */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        width: 1148px;
    }
    nav{
        flex-direction: column;
    }

    /* .facts-header{
       padding-left: 60px;
    }
    .facts-description{
        padding-left: 60px;
        /* width: 400px; */
    } 



   
